<div id='mid'>
    <h2>Runners Details:</h2>
    <h4>First Name: Maryur</h4>
    <h4>Last Name: Tale</h4>
    <h4>Gender: Male</h4>
    <h4>Previous Race Participation History :</h4>
    <h4> Participation_1 : Pune</h4>
    <h4> Participation_2 : Akola</h4>
    <h4> Participation_3 : Nagpur</h4>
    <button onclick="window.location.href='/runners/1/update'">Update Info</button>
</div>
