<div id='mid'>
    <div id="new">
        <h4>Add New Runner</h4>
        <form id="addRunner" name="addRunner" action="/api/runners" method="POST">
            First Name: <input type="text" name="firstName" id="firstName" /> <br><br>
            Last Name: <input type="text" name="lastName" id="lastName" /> <br><br>
            Gender: <select id="gender" name="gender">
                <option value="">--Please Select--</option>
                <option value="f">Female</option>
                <option value="m">Male</option>
            </select><br><br>

            Previous Race Participation History :<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <input type="text" name="race1" id="race1">(Participation_1)<br><br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <input type="text" name="race2" id="race2">(Participation_2)<br><br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <input type="text" name="race3" id="race3">(Participation_3)

            <br><br>
            <button type="submit" id="btnSave">Submit Entry</button>
        </form>
    </div>
</div>
