<div id='mid'>
<div id="delete">
    <h3 class="yesno">Do you really want to delete this entry.</h3><br><br>

        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="/api/runners/<%= data %>/delete" class="yesno">Yes</a>&emsp;&emsp;&emsp;&emsp;
        <a href="/runners" class="yesno" >No</a>

</div>
</div>
