<div id='mid'>
    <h2>Runners Listing :</h2>
    <ul>
        <li> Name : Nikhil Yeole %>
            <span>
                &emsp;&emsp;
                <a href="/runners/1">View</a>&emsp;
                <a href="/runners/1/Update">Update</a>&emsp;
                <a href="/runners/1/deleteTemplate">Delete</a>
            </span>
        </li>
        <li> Name : Mayur Tale %>
            <span>
                &emsp;&emsp;
                <a href="/runners/1">View</a>&emsp;
                <a href="/runners/1/Update">Update</a>&emsp;
                <a href="/runners/1/deleteTemplate">Delete</a>
            </span>
        </li>
        <li> Name : Girish Talekar %>
            <span>
                &emsp;&emsp;
                <a href="/runners/1">View</a>&emsp;
                <a href="/runners/1/Update">Update</a>&emsp;
                <a href="/runners/1/deleteTemplate">Delete</a>
            </span>
        </li>

    </ul>
</div>
