<%- include('templates/header') -%>
<%- include('templates/sidebar') -%>

<div id='mid'>
        &emsp;&emsp;&emsp;&emsp; ipsum dolor sit amet, consectetur adipiscing elit. Sed at fringilla arcu, ac rutrum lorem. Maecenas luctus sapien non accumsan vehicula. Proin vitae mauris et libero auctor sollicitudin. Nulla iaculis, risus nec facilisis rutrum, elit mauris ullamcorper tortor, non feugiat purus nulla non tortor. Donec eu ligula ut sem aliquam iaculis a sed ante. Nulla eu odio vitae diam feugiat elementum id in turpis. Cras quis iaculis turpis, vitae auctor neque.
    Suspendisse vestibulum neque et ante convallis dictum. Praesent elementum, leo et euismod lacinia, nulla lorem dictum elit, nec molestie sem ex sed velit. Pellentesque vehicula eu erat et facilisis. Curabitur purus libero, placerat sit amet nulla vel, malesuada mattis libero. Morbi id scelerisque neque. Maecenas condimentum turpis eu justo consectetur, semper lobortis diam elementum. Nam dignissim pellentesque iaculis. Vestibulum dapibus ut tellus sit amet porttitor.
    Etiam aliquet nisi id ligula ultricies pharetra. Nunc imperdiet quam eu ex tempus viverra. Suspendisse potenti. Maecenas faucibus massa vel consequat lobortis. Fusce nisi eros, dapibus at risus ac, rhoncus convallis nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin velit arcu, luctus at velit ut, rutrum iaculis quam. Nulla lacinia aliquet vehicula.
    Vestibulum odio mi, convallis et lacus eu, sollicitudin malesuada lectus. Morbi vitae sapien sem. Maecenas facilisis ipsum eget interdum sodales. Morbi pharetra libero nec risus vestibulum blandit. Praesent et ligula sed nisl volutpat tincidunt. Nulla mollis nec eros eget varius. Etiam eget nulla finibus, convallis neque ac, congue nunc. Morbi sed velit id nibh aliquet ultricies sed a turpis. Nunc placerat porttitor est nec porta.
</div>

<%- include('templates/footer') -%>
