<%- include('templates/header') -%>
<%- include('templates/sidebar') -%>

<div id='mid'>
    <h2>Runners Listing :</h2>
    <ul id=>
        <li> Name : John Smith (Male)
            <span>
                &emsp;&emsp;<a href="view">View</a>&emsp;<a href="Update">Update</a>&emsp;<a href="#">Delet</a>
            </span>
        </li>
        <li> Name : Nikhil Yeole (Male)
            <span>
                &emsp;&emsp;<a href="view">View</a>&emsp;<a href="Update">Update</a>&emsp;<a href="#">Delet</a>
            </span>
        </li>

        <li> Name : Parimal Yeole (Male)
            <span>
                &emsp;&emsp;<a href="view">View</a>&emsp;<a href="Update">Update</a>&emsp;<a href="#">Delet</a>
            </span>
        </li>
        <li> Name : Prajakta lande (Female)
            <span>
                &emsp;&emsp;<a href="view">View</a>&emsp;<a href="Update">Update</a>&emsp;<a href="#">Delet</a>
            </span>
        </li>
        <li> Name : Rasika Patil (Female)
            <span>
                &emsp;&emsp;<a href="view">View</a>&emsp;<a href="Update">Update</a>&emsp;<a href="#">Delet</a>
            </span>
        </li>
    </ul>
</div>

<%- include('templates/footer') -%>
