<!doctype html>
<html>
<head>
	<title>Runners Listing</title>
	<!-- <link href='css/normalize.2.1.2.css' rel='stylesheet' type='text/css'> -->
	<link href='css/app.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='header' class="margin-class">
		<div id='nav' class="margin-class">
			<ul>
				<li></li>
				<a href="/"><li>Home</li></a>
				<a href="runners"><li>Runners</li></a>
				<a href="addRunner"><li>Create Runner</li></a>
			</ul>
		</div>
	</div>
